.hero .Image {
  height: 600px;
}
.Image > img {
  margin: auto;
  display: block;
  width: 100%;
}
.image-overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}
.image-overlay:hover {
  opacity: 1;
}
.image-overlay .title {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 0.4rem;
  text-align: left;
}
.runtime {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.rating {
  margin-left: 3rem;
}
.description {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 50%;
}
@media (max-width:480px) {
  .image {
    width: 100%;
    object-fit: cover;
  }
  .title {
    font-size: 0.5rem;
    margin-bottom: 0.1rem;
  }
  .runtime {
    font-size: 0.5rem;
    margin-bottom: 0.1rem;
  }
  .rating {
    margin-left: 1.5rem;
  }
  .description {
    font-size: 0.3rem;
    width: 60%;
    text-align: left;
  }
  .image-overlay {
    height: 20%;
    padding: 5rem 2rem;
  }
  .image-overlay .title {
    font-size: 1rem;
    margin-bottom: 0.1rem;
    text-align: left;
  }
  .hero .Image {
    height: 250px;
  }
}
@media (min-width:481px) and (max-width:768px){
  .image-overlay .title{
    font-size: 2rem;
    margin-bottom: .1rem;
  }
  .runtime {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .rating {
    margin-left: 1rem;
  }
  .description {
    font-size: .6rem;
    width: 70%;
    text-align: left;
  }
  .hero .Image {
    height: auto;
  }
}
@media (max-width:1024px) and (min-width:769px) {
  .description {
    font-size: 1rem;
    width: 60%;
    text-align: left;
  }
  .image-overlay .title{
    font-size: 3rem;
    margin-bottom: .1rem;
  }
  .runtime {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .rating {
    margin-left: 1.5rem;
  }
}